<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleAutotaskAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="APIServiceURLZoneInfo" value="https://webservices.autotask.net/ATServices/1.6/atws.asmx" />
    <add key="APIUsername" value="API USERNAME" />
    <add key="APIPassword" value="API PASSWORD" />
    <add key="APITrackingID" value="API TRACKING IDENTIFIER"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <SampleAutotaskAPI.Properties.Settings>
      <setting name="SampleAutotaskAPI_Autotask_Net_webservices_ATWS"
        serializeAs="String">
        <value>https://webservices.autotask.net/ATServices/1.6/atws.asmx</value>
      </setting>
    </SampleAutotaskAPI.Properties.Settings>
  </applicationSettings>
</configuration>