<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmoticonWebProject.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <applicationSettings>
    <EmoticonWebProject.Properties.Settings>
      <setting name="EmoticonWebProject_Autotask_ATWS" serializeAs="String">
        <value>https://webservices.autotask.net/ATServices/1.5/atws.asmx</value>
      </setting>
    </EmoticonWebProject.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Username" value="USERNAME"/>
    <add key="Password" value="PASSWORD"/>
    <add key="BaseURL" value="https://webservices.autotask.net/ATServices/1.5/atws.asmx"/>
  </appSettings>
</configuration>